* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  background-color: rgb(55, 55, 55);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 182, 182);
  border-radius: 10px;
  /* width: 350px; */
  padding: 30px;
  position: relative;
}

.card img {
  width: 100%;
  max-width: 150px;
  aspect-ratio: 1;

  border-radius: 50%;
}

.card i {
  color: rgb(162, 7, 7);
  font-size: 50px;
  position: absolute;
  opacity: 0;
  scale: 0;
}
/* ///////////////////////////////////////// */

.main {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right bottom,
    rgb(26, 26, 26),
    rgb(30, 30, 30),
    black
  );
  padding: 20px;
 
}

.main section {
  height: 100%;
  width: 350px;
  background-color: black;
  border-radius: 10px;
  margin: auto;
  /* overflow: hidden; */
}
.main section .all-reels {
  width: 100%;
  height: 100%;
   overflow: auto;
   scroll-snap-type: y mandatory;
   scroll-behavior: smooth;
  
}
.main section .all-reels::-webkit-scrollbar{
  display: none;
}

.main section .all-reels .reel {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: lightseagreen;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  scroll-snap-align: start;
  scroll-snap-stop: always ;

}
.main section .all-reels .reel video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main section .all-reels .reel .bottom {
  /* height: 30%; */
  padding: 30px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.948));
  width: 100%;
  position: absolute;
  bottom: 0; 
}

.main section .all-reels .reel .bottom .user {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.main section .all-reels .reel .bottom .user img{
height: 30px;
width:  30px;
border-radius: 50%;
object-fit: cover;

}
.main section .all-reels .reel .bottom .user h4{
font-size: 15px;
font-weight: 500;

}
.main section .all-reels .reel .bottom .user button{
background-color: transparent;
padding: 2px 4px ;
font-size: 13px;
font-weight: 500;
border-radius: 2px;
border: 1px solid white;
}

.main section .all-reels .reel .bottom>h3{
font-weight: 500;
font-size: 20px;
}

.main section .all-reels .reel .right{
  width: 40px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  gap: 15px;
  position: absolute;
  right: 0;
  /* transform: translateX(100%); */
  bottom: 10%;
}


.main section .all-reels .reel .right h4{
/* background-color: rebeccapurple; */
cursor: pointer;
}

.main section .all-reels .reel .right .icon{
  font-size: 20px;
  font-weight: 500;
}

.main section .all-reels .reel .right h6{
  font-size: 15px;
  font-weight: 500;
}
.main section .all-reels .reel .right .love{
  color: red;
}


.main section .all-reels .reel .right>div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}